fastapi
pydantic
python-dotenv
youtube-transcript-api
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-community
groq
faiss-cpu
pyyaml
uvicorn[standard]
firebase-admin
